* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header {
  width: 620px;
  height: 90px;
  color: red;
  display: contents;
  font-size: 48px;
  text-align: center;
  font-family: Rochester, Arial, sans-serif;
}

h1 {
  background-image: url(/images/unnamed.jpg);
  margin: 25px auto;
  width: 620px;
}

#menu {
  display: contents;
}

body {
  background-image: url(/images/outside-background.jpg);
  background-size: cover;
}

.dropbtn {
  margin: 80px 0 0 25px;
  background-image: url(/images/unnamed.jpg);
  padding: 6px 50px;
  border: none;
  cursor: pointer;
  width: 360px;
  height: 75px;
  font-size: 48px;
  font-family: UnifrakturCook, Arial, sans-serif;
  color: red;
  letter-spacing: 0.05em;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9 !important;
  color: green;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 35px;
  font-family: UnifrakturCook, Arial, sans-serif;
  letter-spacing: 0.05em;
}

.dropdown-content {
  margin-left: 25px;
  display: none;
  position: absolute;
  background-color: lightyellow !important;
  min-width: 360px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: blue;
  padding: 40px 25px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd !important;
}

.show {
  display: block;
}

a:hover {
  color: maroon;
}

#about_me {
  display: inline-flex;
}

#about_me h2:hover {
  color: green;
}

.about__me {
  cursor: pointer;
  position: static;
  display: table-row;
  margin-left: 385px;
  color: red;
  font-size: 30px;
  font-family: UnifrakturCook, Arial, sans-serif;
  background-image: url(/images/unnamed.jpg);
  width: 360px;
  height: 75px;
  text-align: center;
  padding: 6px 50px;
  letter-spacing: 0.05em;
}

img {
  display: block;
  position: static;
  width: 360px;
  height: 450px;
}

.image {
  display: block;
  margin-left: 775px;
  margin-top: 5px;
}

.text {
  background-color: lightgrey;
  display: block;
  position: relative;
  margin-left: 690px;
  margin-top: 5px;
  border: 1px solid blue !important;
  width: 520px;
  height: 185px;
  border-radius: 5px;
}

.text p {
  padding: 10px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.02em;
  font-size: 18px;
  overflow: scroll;
}

.contacts {
  display: block;
  border: 1px solid blue !important;
  width: 520px;
  height: 85px;
  margin-left: 690px;
  padding: 10px;
  text-align: center;
  background-image: url(/images/unnamed.jpg);
}

.contacts a {
  color: red;
}

.contacts a:hover {
  color: green;
}

.contacts-title {
  color: red;
  font-family: Rochester, Arial, sans-serif;
  font-size: 25px;
}

.contacts-link-type {
  color: black;
  font-size: 15px;
  font-family: UnifrakturCook, Arial, sans-serif;
}

footer p {
  background-color: darkgrey !important;
  width: 500px;
  height: 50px;
  display: block;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  letter-spacing: 0.06em;
  margin: 0 auto;
}

aside {
  box-sizing: content-box;
  cursor: pointer;
  position: relative;
  display: table-row;
  color: red;
  font-size: 30px;
  font-family: UnifrakturCook, Arial, sans-serif;
  background-image: url(/images/unnamed.jpg);
  width: 360px;
  height: 75px;
  text-align: center;
  padding: 10px;
  letter-spacing: 0.05em;
  float: right;
  margin: 80px 25px 0 0;
}

.logos {
  width: 360px;
  height: 700px;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: scroll;
}

aside h2:hover {
  color: green;
}

